<div class="wildtalents ore-roll-chat-message vboxstretch">
  <h3 class="hbox vgap16">
    {{localize "WT.Chat.Rolled"}}: {{oreRoll.asOREDice.asString}}
  </h3>
  {{#if oreRoll.flavor}}
    <div class="nowrap vgap16"><i>{{oreRoll.flavor}}</i></div>
  {{/if}}
  {{#if oreRoll.isSuccess}}
    <div class="nowrap vgap16 roll-success">{{localize "WT.Chat.Result"}}: {{localize "WT.Chat.Success"}}</div>
  {{else}}
    <div class="nowrap vgap16 roll-failure">{{localize "WT.Chat.Result"}}: {{localize "WT.Chat.Failure"}}</div>
  {{/if}}
  {{#each oreRoll.sets as |set i|}}
    <div class="hbox vgap16">
      <div class="die-set hbox">
        <div class="nowrap">{{set.width}}x{{set.height}}: </div>
        <div class="hbox hbox-dice">
          {{#each set as |die j|}}
            {{> "systems/wildtalents/templates/parts/die.hbs" roll=@root.oreRoll die=die loose=false index1=i index2=j}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
  <div class="hbox vgap16">
    <div>{{localize "WT.Chat.Loose"}}: </div>
    <div class="hbox hbox-dice">
      {{#each oreRoll.looseDice as |die i|}}
        {{> "systems/wildtalents/templates/parts/die.hbs" roll=@root.oreRoll die=die loose=true index1=i}}
      {{/each}}
    </div>
  </div>
</div>
