<form class="{{cssClass}} wildtalents ore-roll-dialog">
    <div class="hbox vgap16">
        <div class="nowrap grow">{{localize "WT.ORERollDialog.Dice"}}: </div>
        <input class="grow4x" type="text" name="dice" value="{{dice}}">
    </div>
    <div class="hbox vgap16">
        <div class="nowrap grow"> {{localize "WT.ORERollDialog.MinWidth"}}: </div>
        <input class="grow2x" type="text" name="minWidth" value="{{minWidth}}">
        <div class="nowrap grow"> {{localize "WT.ORERollDialog.MinHeight"}}: </div>
        <input class="grow2x" type="text" name="minHeight" value="{{minHeight}}">
    </div>
</form>
