<form class="{{cssClass}}" autocomplete="off">
  <header>
    <h1 class="hbox">
      <img
        class="nogrow profile-img vgap8"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
        height="50"
        width="50"
      />
      <input
        class="grow hgap16 vgap8"
        type="text"
        name="name"
        value="{{data.name}}"
        placeholder="{{localize 'WT.Label.Name'}}"
      />
    </h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="general">{{localize "WT.Tab.General"}}</a>
    <a class="item" data-tab="metaqualities">{{localize "WT.Tab.MetaQualities"}}</a>
    <a class="item" data-tab="powers">{{localize "WT.Tab.MandatoryPowers"}}</a>
    <a class="item" data-tab="other">{{localize "WT.Tab.Other"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab general" data-group="primary" data-tab="general">
      <div class="hbox vgap16">
        <div class="nowrap">{{localize "WT.Label.PointCost"}}: </div>
        <input class="grow" type="number" value="{{item.system.pointCost}}" disabled>
      </div>
      <h2>{{localize "WT.Label.Notes"}}</h2>
      {{editor @root.notesEnriched target="system.notes" button=true owner=owner editable=editable}}
    </div>
    <div class="tab metaqualities" data-group="primary" data-tab="metaqualities">
      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Sources"}}</div>
        <button class="add-source nogrow">+</button>
      </h2>
      <ul>
        {{#each system.sources as |mq i|}}
          <li class="hbox">
            <div class="growhalf"></div>
            <div class="hbox grow2x slot sourceslot" index="{{i}}">
              <input class="dummy" type="text" name="system.sources.{{i}}.id" value="{{mq.id}}">
              {{#with (lookup @root.documents mq.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}} ({{localizeUnit "Pts" item.system.pointCost}})</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptySourceSlot"}}</div>
              {{/with}}
            </div>
            <div class="grow"></div>
            <button class="remove-source nogrow" index="{{i}}">-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Permissions"}}</div>
        <button class="add-permission nogrow">+</button>
      </h2>
      <ul>
        {{#each system.permissions as |mq i|}}
          <li class="hbox">
            <div class="growhalf"></div>
            <div class="hbox grow2x slot permissionslot" index="{{i}}">
              <input class="dummy" type="text" name="system.permissions.{{i}}.id" value="{{mq.id}}">
              {{#with (lookup @root.documents mq.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}} ({{localizeUnit "Pts" item.system.pointCost}})</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyPermissionSlot"}}</div>
              {{/with}}
            </div>
            <div class="grow hbox">
              {{#with (lookup @root.documents mq.id) as |item|}}
                {{#if item.system.requiresCondition}}
                  <div class="nowrap">(</div>
                  <input class="grow" type="text" name="system.permissions.{{i}}.condition" value="{{mq.condition}}">
                  <div class="nowrap">)</div>
                {{else}}
                  <input class="dummy" type="text" name="system.permissions.{{i}}.condition" value="{{mq.condition}}">
                {{/if}}
              {{else}}
                <input class="dummy" type="text" name="system.permissions.{{i}}.condition" value="{{mq.condition}}">
              {{/with}}
            </div>
            <button class="remove-permission nogrow" index="{{i}}">-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Intrinsics"}}</div>
        <button class="add-intrinsic nogrow">+</button>
      </h2>
      <ul>
        {{#each system.intrinsics as |mq i|}}
          <li class="hbox">
            <div class="growhalf hbox">
              {{#with (lookup @root.documents mq.id) as |item|}}
                {{#if item.system.multibuy}}
                  <input class="grow" type="number" name="system.intrinsics.{{i}}.minMultibuyAmount" value="{{mq.minMultibuyAmount}}">
                  <div class="nowrap">x </div>
                {{else}}
                  <input class="dummy" type="number" name="system.intrinsics.{{i}}.minMultibuyAmount" value="{{mq.minMultibuyAmount}}">
                {{/if}}
              {{else}}
                <input class="dummy" type="number" name="system.intrinsics.{{i}}.minMultibuyAmount" value="{{mq.minMultibuyAmount}}">
              {{/with}}
            </div>
            <div class="hbox grow2x slot intrinsicslot" index="{{i}}">
              <input class="dummy" type="text" name="system.intrinsics.{{i}}.id" value="{{mq.id}}">
              {{#with (lookup @root.documents mq.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}} ({{localizeUnit "Pts" item.system.pointCost}})</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyIntrinsicSlot"}}</div>
              {{/with}}
            </div>
            <div class="grow hbox">
              {{#with (lookup @root.documents mq.id) as |item|}}
                {{#if item.system.requiresCondition}}
                  <div class="nowrap">(</div>
                  <input class="grow" type="text" name="system.intrinsics.{{i}}.condition" value="{{mq.condition}}">
                  <div class="nowrap">)</div>
                {{else}}
                  <input class="dummy" type="text" name="system.intrinsics.{{i}}.condition" value="{{mq.condition}}">
                {{/if}}
              {{else}}
                <input class="dummy" type="text" name="system.intrinsics.{{i}}.condition" value="{{mq.condition}}">
              {{/with}}
            </div>
            <button class="remove-intrinsic nogrow" index="{{i}}">-</button>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="tab powers" data-group="primary" data-tab="powers">
      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Hyperstats"}}</div>
        <button class="add-hyperstat nogrow">+</button>
      </h2>
      <ul>
        {{#each system.hyperstats as |power i|}}
          <li class="hbox">
            <div class="hbox grow2x slot hyperstatslot" index="{{i}}">
              <input class="dummy" type="text" name="system.hyperstats.{{i}}.id" value="{{power.id}}">
              {{#with (lookup @root.documents power.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}} ({{localizeUnit "PtsPerDie" (powerPtsPerDie @root.item power)}})</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyHyperstatSlot"}}</div>
              {{/with}}
            </div>
            <div class="nowrap">: </div>
            <input class="grow" type="text" name="system.hyperstats.{{i}}.minDice" value="{{power.minDice}}">
            <button class="remove-hyperstat nogrow" index="{{i}}">-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Hyperskills"}}</div>
        <button class="add-hyperskill nogrow">+</button>
      </h2>
      <ul>
        {{#each system.hyperskills as |power i|}}
          <li class="hbox">
            <div class="hbox grow2x slot hyperskillslot" index="{{i}}">
              <input class="dummy" type="text" name="system.hyperskills.{{i}}.id" value="{{power.id}}">
              {{#with (lookup @root.documents power.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}} ({{localizeUnit "PtsPerDie" (powerPtsPerDie @root.item power)}})</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyHyperskillSlot"}}</div>
              {{/with}}
            </div>
            <div class="nowrap">: </div>
            <input class="grow" type="text" name="system.hyperskills.{{i}}.minDice" value="{{power.minDice}}">
            <button class="remove-hyperskill nogrow" index="{{i}}">-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Miracles"}}</div>
        <button class="add-miracle nogrow">+</button>
      </h2>
      <ul>
        {{#each system.miracles as |power i|}}
          <li class="hbox">
            <div class="hbox grow2x slot miracleslot" index="{{i}}">
              <input class="dummy" type="text" name="system.miracles.{{i}}.id" value="{{power.id}}">
              {{#with (lookup @root.documents power.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}} ({{localizeUnit "PtsPerDie" (powerPtsPerDie @root.item power)}})</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyMiracleSlot"}}</div>
              {{/with}}
            </div>
            <div class="nowrap">: </div>
            <input class="grow" type="text" name="system.miracles.{{i}}.minDice" value="{{power.minDice}}">
            <button class="remove-miracle nogrow" index="{{i}}">-</button>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="tab other" data-group="primary" data-tab="other">
      <div class="hbox">
        <div class="nowrap">{{localize "WT.Label.CustomSilhouette"}} </div>
        <input type="checkbox"
          name="system.customSilhouette"
          {{#if system.customSilhouette}}checked{{/if}}
        />
      </div>
      {{#if system.customSilhouette}}
        <h2 class="hbox silhouette-header">
          <div class="grow">{{localize "WT.Label.Silhouette"}}</div>
          <button class="add-body-part nogrow">+</button>
        </h2>
        {{> "systems/wildtalents/templates/parts/silhouette.hbs" }}
      {{else}}
        {{#each system.silhouette as |bodyPart i|}}
          <input class="dummy" type="text" name="system.silhouette.{{i}}.hitLocations" value="{{bodyPart.hitLocations}}">
          <input class="dummy" type="text" name="system.silhouette.{{i}}.name" value="{{bodyPart.name}}">
          <input class="dummy" type="number" name="system.silhouette.{{i}}.boxes" value="{{bodyPart.boxes}}">
          <input class="dummy" type="checkbox" name="system.silhouette.{{i}}.important" {{#if bodyPart.important}}checked{{/if}}>
          <input class="dummy" type="number" name="system.silhouette.{{i}}.brainBoxes" value="{{bodyPart.brainBoxes}}">
        {{/each}}
      {{/if}}
    </div>
  </section>
</form>
