<form class="{{cssClass}}" autocomplete="off">
  <header>
    <h1 class="hbox">
      <img class="nogrow profile-img vgap8" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50"/>
      <input class="grow hgap16 vgap8" type="text" name="name" value="{{data.name}}" placeholder="Name" />
    </h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="general">General</a>
    <a class="item" data-tab="stats">Stats/Skills</a>
    <a class="item" data-tab="archetype">Archetype</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="silhouette">Silhouette</a>
    <a class="item" data-tab="notes_">Notes</a>
  </nav>
  <section class="sheet-body">
    <div class="tab general" data-group="primary" data-tab="general">
      <h2>General</h2>
      <div class="hbox vgap8">
        <label class="nowrap grow">Points Spent: </label>
        <input class="grow" type="number" name="system.pointTotal" value="{{system.pointTotal}}" />
        <label class="nowrap grow"> Points to Spend: </label>
        <input class="grow" type="number" name="system.xp" value="{{system.xp}}" />
      </div>
      <div class="hbox vgap8">
        <label class="nowrap grow">Willpower: </label>
        <input class="grow" type="number" name="system.willpower" value="{{system.willpower}}" />
        <label class="nowrap grow"> Base Will: </label>
        <input class="grow" type="number" name="system.baseWill" value="{{system.baseWill}}" />
      </div>
      <div>
        <h2 class="hbox">
          <div class="grow">Convictions</div>
          <button class="add-conviction nogrow">+</button>
        </h2>
        <ul>
          {{#each system.convictions as |conviction i|}}
          <li class="hbox vgap8">
            <input class="grow"
              type="text"
              name="system.convictions.{{i}}.phrase"
              value="{{conviction.phrase}}"
            />
            <div class="nowrap"> (</div>
            <input class="growhalf"
              type="number"
              name="system.convictions.{{i}}.amount"
              value="{{conviction.amount}}"
            />
            <div class="nowrap">)</div>
            <button class="remove-conviction nogrow" index="{{i}}">-</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div>
        <h2>Stats</h2>
        <div class="hbox vgap8">
          <label class="grow">Body</label>
          <input class="grow2x"
            type="text"
            name="system.stats.body"
            value="{{system.stats.body}}"
          />
        </div>
        <div class="hbox vgap8">
          <label class="grow">Coordination</label>
          <input class="grow2x"
            type="text"
            name="system.stats.coordination"
            value="{{system.stats.coordination}}"
          />
        </div>
        <div class="hbox vgap8">
          <label class="grow">Sense</label>
          <input class="grow2x"
            type="text"
            name="system.stats.sense"
            value="{{system.stats.sense}}"
          />
        </div>
        <div class="hbox vgap8">
          <label class="grow">Mind</label>
          <input class="grow2x"
            type="text"
            name="system.stats.mind"
            value="{{system.stats.mind}}"
          />
        </div>
        <div class="hbox vgap8">
          <label class="grow">Charm</label>
          <input class="grow2x"
            type="text"
            name="system.stats.charm"
            value="{{system.stats.charm}}"
          />
        </div>
        <div class="hbox vgap8">
          <label class="grow">Command</label>
          <input class="grow2x"
            type="text"
            name="system.stats.command"
            value="{{system.stats.command}}"
          />
        </div>
      </div>
      <div>
        <h2 class="hbox">
          <div class="grow">Skills</div>
          <button class="add-skill nogrow">+</button>
        </h2>
        <ul>
          {{#each system.skills as |skill i|}}
          <li class="hbox vgap8">
            <div class="grow2x skillslot hbox" skillindex="{{i}}">
              <input class="dummy" type="text" name="system.skills.{{i}}.skill" value="{{skill.skill}}">
              {{#with (lookup @root.skilldocs skill.skill) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}}</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">Drag skill here, or doubleclick...</div>
              {{/with}}
            </div>
            <div class="nowrap">: </div>
            <input class="grow"
              type="text"
              name="system.skills.{{i}}.value"
              value="{{skill.value}}"
            />
            <div class="nowrap"> (</div>
            <input class="grow"
              type="text"
              name="system.skills.{{i}}.specialty"
              value="{{skill.specialty}}"
              placeholder="specialty, etc..."
            />
            <div class="nowrap">)</div>
            <button class="remove-skill nogrow" index="{{i}}">-</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="tab archetype" data-group="primary" data-tab="archetype">
      <h2>Archetype</h2>
      <h2>Sources</h2>
      <h2>Permissions</h2>
      <h2>Intrinsics</h2>
    </div>
    <div class="tab powers" data-group="primary" data-tab="powers">
      <h2>Hyperstats</h2>
      <h2>Hyperskills</h2>
      <h2>Miracles</h2>
    </div>
    <div class="tab silhouette" data-group="primary" data-tab="silhouette">
      <div>
        <h2 class="hbox">
          <div class="grow">Silhouette</div>
          <button class="add-body-part nogrow">+</button>
        </h2>
        <ul>
          {{#each system.silhouette as |bodyPart i|}}
          <li class="hbox">
            <div class="vbox vgap16">
              <div class="hbox vgap4">
                <div class="nowrap">(</div>
                <input class="growhalf"
                  type="text"
                  name="system.silhouette.{{i}}.hitLocations"
                  value="{{bodyPart.hitLocations}}"
                />
                <div class="nowrap">) </div>
                <input class="grow"
                  type="text"
                  name="system.silhouette.{{i}}.name"
                  value="{{bodyPart.name}}"
                />
                <div class="nowrap">: </div>
                <input class="growhalf"
                  type="number"
                  name="system.silhouette.{{i}}.boxes"
                  value="{{bodyPart.boxes}}"
                />
                <div class="nowrap"> boxes (</div>
                <input class="growhalf"
                  type="number"
                  name="system.silhouette.{{i}}.brainBoxes"
                  value="{{bodyPart.brainBoxes}}"
                />
                <div class="nowrap"> brain; important?</div>
                <input type="checkbox"
                  name="system.silhouette.{{i}}.important" {{#if bodyPart.important}}checked{{/if}}
                />
                <div class="nowrap">)</div>
              </div>
              <div class="hbox vgap4">
                <div class="nowrap">Shock damage: </div>
                <input class="grow"
                  type="number"
                  name="system.silhouette.{{i}}.shockDamage"
                  value="{{bodyPart.shockDamage}}"
                />
                <div class="nowrap"> Killing damage: </div>
                <input class="grow"
                  type="number"
                  name="system.silhouette.{{i}}.killingDamage"
                  value="{{bodyPart.killingDamage}}"
                />
              </div>
            </div>
            <button class="remove-body-part nogrow" index="{{i}}">-</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="tab notes_" data-group="primary" data-tab="notes_">
      <h2>Public Notes</h2>
      {{editor (enrich system.appearence) target="system.appearence" button=true owner=owner editable=editable}}
      <h2>Private Notes</h2>
      {{editor (enrich system.notes) target="system.notes" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
