<form class="{{cssClass}}" autocomplete="off">
  <header>
    <h1 class="hbox">
      <img class="nogrow profile-img vgap8" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50"/>
      <input class="grow hgap16 vgap8" type="text" name="name" value="{{data.name}}" placeholder="{{localize "WT.Label.Name"}}" />
    </h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="general">{{localize "WT.Tab.General"}}</a>
    <a class="item" data-tab="stats">{{localize "WT.Tab.Stats"}}</a>
    <a class="item" data-tab="archetype">{{localize "WT.Tab.Archetype"}}</a>
    <a class="item" data-tab="powers">{{localize "WT.Tab.Powers"}}</a>
    <a class="item" data-tab="silhouette">{{localize "WT.Tab.Silhouette"}}</a>
    <a class="item" data-tab="notes_">{{localize "WT.Tab.Notes"}}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab general" data-group="primary" data-tab="general">
      <h2>{{localize "WT.Label.General"}}</h2>
      <div class="hbox vgap8">
        <label class="nowrap grow">{{localize "WT.Label.PointTotal"}}: </label>
        <input class="grow" type="number" name="system.pointTotal" value="{{system.pointTotal}}" />
        <label class="nowrap grow"> {{localize "WT.Label.XP"}}: </label>
        <input class="grow" type="number" name="system.xp" value="{{system.xp}}" />
      </div>
      <div class="hbox vgap8">
        <label class="nowrap grow">{{localize "WT.Label.Willpower"}}: </label>
        <input class="grow" type="number" name="system.willpower" value="{{system.willpower}}" />
        <label class="nowrap grow"> {{localize "WT.Label.BaseWill"}}: </label>
        <input class="grow" type="number" name="system.baseWill" value="{{system.baseWill}}" />
      </div>
      <h2>{{localize "WT.Label.Health"}}</h2>
      <ul>
        {{#each health as |bodyPart i|}}
          <li class="hbox vgap8">
            <div class="nowrap grow">{{bodyPart.name}}: </div>
            <div class="hbox hbox-flow">
              {{#each bodyPart.boxes as |box j|}}
                <div class="healthbox {{box.state}}">
                  <div class="dummy box-info-index1">{{i}}</div>
                  <div class="dummy box-info-index2">{{j}}</div>
                </div>
              {{/each}}
            </div>
          </li>
        {{/each}}
      </ul>
      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Convictions"}}</div>
        <button class="add-conviction nogrow">+</button>
      </h2>
      <ul>
        {{#each system.convictions as |conviction i|}}
        <li class="hbox vgap8">
          <input class="grow"
            type="text"
            name="system.convictions.{{i}}.phrase"
            value="{{conviction.phrase}}"
          />
          <div class="nowrap"> (</div>
          <input class="growhalf"
            type="number"
            name="system.convictions.{{i}}.amount"
            value="{{conviction.amount}}"
          />
          <div class="nowrap">)</div>
          <button class="remove-conviction nogrow" index="{{i}}">-</button>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div>
        <h2>{{localize "WT.Label.Stats"}}</h2>
        <ul>
          {{#each STATS as |stat i|}}
            <li class="hbox vgap8">
              <button class="nogrow roll-stat" stat="{{stat.field}}"><i class="fa-solid fa-dice"></i></button>
              <label class="grow">{{localize stat.name}}</label>
              <input class="grow2x"
                type="text"
                name="system.stats.{{stat.field}}"
                value="{{lookup @root.system.stats stat.field}}"
              />
            </li>
          {{/each}}
        </ul>
      </div>
      <div>
        <h2 class="hbox">
          <div class="grow">{{localize "WT.Label.Skills"}}</div>
          <button class="add-skill nogrow">+</button>
        </h2>
        <ul>
          {{#each system.skills as |skill i|}}
          <li class="hbox vgap8">
            <button class="nogrow roll-skill" index="{{i}}"><i class="fa-solid fa-dice"></i></button>
            <div class="grow2x slot skillslot hbox" index="{{i}}">
              <input class="dummy" type="text" name="system.skills.{{i}}.id" value="{{skill.id}}">
              {{#with (lookup @root.documents skill.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}} ({{localizeUnit "PtsPerDie" item.system.pointsPerDie}})</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptySkillSlot"}}</div>
              {{/with}}
            </div>
            <div class="nowrap">: </div>
            <input class="grow"
              type="text"
              name="system.skills.{{i}}.dice"
              value="{{skill.dice}}"
            />
            <div class="nowrap"> (</div>
            <input class="grow"
              type="text"
              name="system.skills.{{i}}.specialty"
              value="{{skill.specialty}}"
              placeholder="{{localize "WT.Dialog.EmptySkillSpecialty"}}"
            />
            <div class="nowrap">)</div>
            <button class="remove-skill nogrow" index="{{i}}">-</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="tab archetype" data-group="primary" data-tab="archetype">
      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Archetypes"}}</div>
        <button class="add-archetype nogrow">+</button>
      </h2>
      <ul>
        {{#each system.archetypes as |archetype i|}}
          <li class="hbox">
            <div class="hbox grow slot archetypeslot" index="{{i}}">
              <input class="dummy" type="text" name="system.archetypes.{{i}}" value="{{archetype}}">
              {{#with (lookup @root.documents archetype) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}} ({{localizeUnit "Pts" item.system.pointCost}})</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyArchetypeSlot"}}</div>
              {{/with}}
            </div>
            <button class="remove-archetype nogrow" index="{{i}}">-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Sources"}}</div>
        <button class="add-source nogrow">+</button>
      </h2>
      <ul>
        {{#each system.sources as |mq i|}}
          <li class="hbox">
            <div class="growhalf"></div>
            <div class="hbox grow2x slot sourceslot" index="{{i}}">
              <input class="dummy" type="text" name="system.sources.{{i}}.id" value="{{mq.id}}">
              <input class="dummy" type="text" name="system.sources.{{i}}.providedBy" value="{{mq.providedBy}}">
              {{#with (lookup @root.documents mq.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}}{{#unless mq.providedBy}} ({{localizeUnit "Pts" item.system.pointCost}}){{/unless}}</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptySourceSlot"}}</div>
              {{/with}}
            </div>
            <div class="grow"></div>
            <div class="grow">
              {{#with (lookup @root.documents mq.providedBy) as |providedBy|}}
                <span class="nowrap placeholder"> {{localize "WT.Dialog.ProvidedBy"}} {{providedBy.name}} </span>
              {{/with}}
            </div>
            <button class="remove-source nogrow" index="{{i}}" {{#if (lookup @root.documents mq.providedBy)}}disabled{{/if}}>-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Permissions"}}</div>
        <button class="add-permission nogrow">+</button>
      </h2>
      <ul>
        {{#each system.permissions as |mq i|}}
          <li class="hbox">
            <div class="growhalf"></div>
            <div class="hbox grow2x slot permissionslot" index="{{i}}">
              <input class="dummy" type="text" name="system.permissions.{{i}}.id" value="{{mq.id}}">
              <input class="dummy" type="text" name="system.permissions.{{i}}.providedBy" value="{{mq.providedBy}}">
              {{#with (lookup @root.documents mq.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}}{{#unless mq.providedBy}} ({{localizeUnit "Pts" item.system.pointCost}}){{/unless}}</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyPermissionSlot"}}</div>
              {{/with}}
            </div>
            <div class="grow hbox">
              {{#with (lookup @root.documents mq.id) as |item|}}
                {{#if item.system.requiresCondition}}
                  {{#with (lookup @root.documents mq.providedBy) as |providedBy|}}
                    <div class="grow nowrap"> ({{mq.condition}})</div>
                    <input class="dummy" type="text" name="system.permissions.{{i}}.condition" value="{{mq.condition}}">
                  {{else}}
                    <div class="nowrap"> (</div>
                    <input class="grow" type="text" name="system.permissions.{{i}}.condition" value="{{mq.condition}}">
                    <div class="nowrap">)</div>
                  {{/with}}
                {{else}}
                  <input class="dummy" type="text" name="system.permissions.{{i}}.condition" value="{{mq.condition}}">
                {{/if}}
              {{else}}
                <input class="dummy" type="text" name="system.permissions.{{i}}.condition" value="{{mq.condition}}">
              {{/with}}
            </div>
            <div class="grow">
              {{#with (lookup @root.documents mq.providedBy) as |providedBy|}}
                <span class="nowrap placeholder"> {{localize "WT.Dialog.ProvidedBy"}} {{providedBy.name}} </span>
              {{/with}}
            </div>
            <button class="remove-permission nogrow" index="{{i}}" {{#if (lookup @root.documents mq.providedBy)}}disabled{{/if}}>-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Intrinsics"}}</div>
        <button class="add-intrinsic nogrow">+</button>
      </h2>
      <ul>
        {{#each system.intrinsics as |mq i|}}
          <li class="hbox">
            <div class="growhalf hbox">
              {{#with (lookup @root.documents mq.id) as |item|}}
                {{#if item.system.multibuy}}
                  {{#with (lookup @root.documents mq.providedBy) as |providedBy|}}
                    <div class="nowrap">{{mq.multibuyAmount}}</div>
                    <input class="dummy" type="number" name="system.intrinsics.{{i}}.multibuyAmount" value="{{mq.multibuyAmount}}">
                  {{else}}
                    <input class="grow" type="number" name="system.intrinsics.{{i}}.multibuyAmount" value="{{mq.multibuyAmount}}">
                  {{/with}}
                  <div class="nowrap">x </div>
                {{else}}
                  <input class="dummy" type="number" name="system.intrinsics.{{i}}.multibuyAmount" value="{{mq.multibuyAmount}}">
                {{/if}}
              {{else}}
                <input class="dummy" type="number" name="system.intrinsics.{{i}}.multibuyAmount" value="{{mq.multibuyAmount}}">
              {{/with}}
            </div>
            <div class="hbox grow2x slot intrinsicslot" index="{{i}}">
              <input class="dummy" type="text" name="system.intrinsics.{{i}}.id" value="{{mq.id}}">
              <input class="dummy" type="text" name="system.intrinsics.{{i}}.providedBy" value="{{mq.providedBy}}">
              {{#with (lookup @root.documents mq.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}}{{#unless mq.providedBy}} ({{localizeUnit "Pts" item.system.pointCost}}){{/unless}}</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyIntrinsicSlot"}}</div>
              {{/with}}
            </div>
            <div class="grow hbox">
              {{#with (lookup @root.documents mq.id) as |item|}}
                {{#if item.system.requiresCondition}}
                  {{#with (lookup @root.documents mq.providedBy) as |providedBy|}}
                    <div class="grow nowrap"> ({{mq.condition}})</div>
                    <input class="dummy" type="text" name="system.intrinsics.{{i}}.condition" value="{{mq.condition}}">
                  {{else}}
                    <div class="nowrap"> (</div>
                    <input class="grow" type="text" name="system.intrinsics.{{i}}.condition" value="{{mq.condition}}">
                    <div class="nowrap">)</div>
                  {{/with}}
                {{else}}
                  <input class="dummy" type="text" name="system.intrinsics.{{i}}.condition" value="{{mq.condition}}">
                {{/if}}
              {{else}}
                <input class="dummy" type="text" name="system.intrinsics.{{i}}.condition" value="{{mq.condition}}">
              {{/with}}
            </div>
            <div class="grow">
              {{#with (lookup @root.documents mq.providedBy) as |providedBy|}}
                <span class="nowrap placeholder"> {{localize "WT.Dialog.ProvidedBy"}} {{providedBy.name}} </span>
              {{/with}}
            </div>
            <button class="remove-intrinsic nogrow" index="{{i}}" {{#if (lookup @root.documents mq.providedBy)}}disabled{{/if}}>-</button>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="tab powers" data-group="primary" data-tab="powers">
      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Foci"}}</div>
        <button class="add-focus nogrow">+</button>
      </h2>
      <ul>
        {{#each system.foci as |focus i|}}
          <li class="hbox">
            <div class="hbox grow slot focusslot" index="{{i}}">
              <input class="dummy" type="text" name="system.foci.{{i}}" value="{{focus}}">
              {{#with (lookup @root.documents focus) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}}</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptyFocusSlot"}}</div>
              {{/with}}
            </div>
            <button class="remove-focus nogrow" index="{{i}}">-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Hyperstats"}}</div>
        <button class="add-hyperstat nogrow">+</button>
      </h2>
      <ul>
        {{#each system.hyperstats as |power i|}}
          <li class="hboxstretch">
            <div class="grow vboxstretch">
              <div class="grow hboxstretch">
                <div class="hbox grow2x slot hyperstatslot" index="{{i}}">
                  <input class="dummy" type="text" name="system.hyperstats.{{i}}.id" value="{{power.id}}">
                  <input class="dummy" type="text" name="system.hyperstats.{{i}}.providedBy" value="{{power.providedBy}}">
                  {{#with (lookup @root.documents power.id) as |item|}}
                    <img class="nogrow" src="{{item.img}}" width="24" height="24">
                    <div class="grow">{{item.name}} ({{localizeUnit "PtsPerDie" (powerPtsPerDie @root.actor power)}})</div>
                  {{else}}
                    <img class="nogrow" width="24" height="24">
                    <div class="grow placeholder">{{localize "WT.Dialog.EmptyHyperstatSlot"}}</div>
                  {{/with}}
                </div>
                <div class="nowrap">: </div>
                <input class="grow" type="text" name="system.hyperstats.{{i}}.dice" value="{{power.dice}}">
                <div class="grow">
                  {{#with (lookup @root.documents power.providedBy) as |providedBy|}}
                    <span class="nowrap placeholder"> {{localize "WT.Dialog.ProvidedBy"}} {{providedBy.name}} </span>
                  {{/with}}
                </div>
              </div>
              <div class="grow hbox hbox-flow">
                {{#with (lookup @root.documents power.id) as |item|}}
                  {{#each item.system.qualities as |quality j|}}
                    <button class="nowrap nogrow roll-hyperstat" index1="{{i}}" index2="{{j}}"><i class="fa-solid fa-dice"></i>[{{qualityTypeLetter quality.qualityType}}+{{quality.level}}] {{quality.name}}</button>
                  {{/each}}
                {{/with}}
              </div>
            </div>
            <button class="remove-hyperstat nogrow" index="{{i}}" {{#if (lookup @root.documents power.providedBy)}}disabled{{/if}}>-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Hyperskills"}}</div>
        <button class="add-hyperskill nogrow">+</button>
      </h2>
      <ul>
        {{#each system.hyperskills as |power i|}}
          <li class="hboxstretch">
            <div class="grow vboxstretch">
              <div class="grow hboxstretch">
                <div class="hbox grow2x slot hyperskillslot" index="{{i}}">
                  <input class="dummy" type="text" name="system.hyperskills.{{i}}.id" value="{{power.id}}">
                  <input class="dummy" type="text" name="system.hyperskills.{{i}}.providedBy" value="{{power.providedBy}}">
                  {{#with (lookup @root.documents power.id) as |item|}}
                    <img class="nogrow" src="{{item.img}}" width="24" height="24">
                    <div class="grow">{{item.name}} ({{localizeUnit "PtsPerDie" (powerPtsPerDie @root.actor power)}})</div>
                  {{else}}
                    <img class="nogrow" width="24" height="24">
                    <div class="grow placeholder">{{localize "WT.Dialog.EmptyHyperskillSlot"}}</div>
                  {{/with}}
                </div>
                <div class="nowrap">: </div>
                <input class="grow" type="text" name="system.hyperskills.{{i}}.dice" value="{{power.dice}}">
                <div class="grow">
                  {{#with (lookup @root.documents power.providedBy) as |providedBy|}}
                    <span class="nowrap placeholder"> {{localize "WT.Dialog.ProvidedBy"}} {{providedBy.name}} </span>
                  {{/with}}
                </div>
              </div>
              <div class="grow hbox hbox-flow">
                {{#with (lookup @root.documents power.id) as |item|}}
                  {{#each item.system.qualities as |quality j|}}
                    <button class="nowrap nogrow roll-hyperskill" index1="{{i}}" index2="{{j}}"><i class="fa-solid fa-dice"></i>[{{qualityTypeLetter quality.qualityType}}+{{quality.level}}] {{quality.name}}</button>
                  {{/each}}
                {{/with}}
              </div>
            </div>
            <button class="remove-hyperskill nogrow" index="{{i}}" {{#if (lookup @root.documents power.providedBy)}}disabled{{/if}}>-</button>
          </li>
        {{/each}}
      </ul>

      <h2 class="hbox">
        <div class="grow">{{localize "WT.Label.Miracles"}}</div>
        <button class="add-miracle nogrow">+</button>
      </h2>
      <ul>
        {{#each system.miracles as |power i|}}
          <li class="hboxstretch">
            <div class="grow vboxstretch">
              <div class="grow hboxstretch">
                <div class="hbox grow2x slot miracleslot" index="{{i}}">
                  <input class="dummy" type="text" name="system.miracles.{{i}}.id" value="{{power.id}}">
                  <input class="dummy" type="text" name="system.miracles.{{i}}.providedBy" value="{{power.providedBy}}">
                  {{#with (lookup @root.documents power.id) as |item|}}
                    <img class="nogrow" src="{{item.img}}" width="24" height="24">
                    <div class="grow">{{item.name}} ({{localizeUnit "PtsPerDie" (powerPtsPerDie @root.actor power)}})</div>
                  {{else}}
                    <img class="nogrow" width="24" height="24">
                    <div class="grow placeholder">{{localize "WT.Dialog.EmptyMiracleSlot"}}</div>
                  {{/with}}
                </div>
                <div class="nowrap">: </div>
                <input class="grow" type="text" name="system.miracles.{{i}}.dice" value="{{power.dice}}">
                <div class="grow">
                  {{#with (lookup @root.documents power.providedBy) as |providedBy|}}
                    <span class="nowrap placeholder"> {{localize "WT.Dialog.ProvidedBy"}} {{providedBy.name}} </span>
                  {{/with}}
                </div>
              </div>
              <div class="grow hbox hbox-flow">
                {{#with (lookup @root.documents power.id) as |item|}}
                  {{#each item.system.qualities as |quality j|}}
                    <button class="nowrap nogrow roll-miracle" index1="{{i}}" index2="{{j}}"><i class="fa-solid fa-dice"></i>[{{qualityTypeLetter quality.qualityType}}+{{quality.level}}] {{quality.name}}</button>
                  {{/each}}
                {{/with}}
              </div>
            </div>
            <button class="remove-miracle nogrow" index="{{i}}" {{#if (lookup @root.documents power.providedBy)}}disabled{{/if}}>-</button>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="tab silhouette" data-group="primary" data-tab="silhouette">
      <div>
        <h2 class="hbox silhouette-header">
          <div class="grow">{{localize "WT.Label.Silhouette"}}</div>
          <button class="add-body-part nogrow">+</button>
        </h2>
        {{> "systems/wildtalents/templates/parts/silhouette.hbs" }}
      </div>
    </div>
    <div class="tab notes_" data-group="primary" data-tab="notes_">
      <h2>{{localize "WT.Label.PublicNotes"}}</h2>
      {{editor (enrich system.appearence) target="system.appearence" button=true owner=owner editable=editable}}
      <h2>{{localize "WT.Label.PrivateNotes"}}</h2>
      {{editor (enrich system.notes) target="system.notes" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
