<form class="{{cssClass}}" autocomplete="off">
  <header>
    <h1 class="hbox">
      <img class="nogrow profile-img vgap8" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50"/>
      <input class="grow hgap16 vgap8" type="text" name="name" value="{{data.name}}" placeholder="{{localize "WT.Label.Name"}}" />
    </h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="general">{{localize "WT.Tab.General"}}</a>
    <a class="item" data-tab="stats">{{localize "WT.Tab.Stats"}}</a>
    <a class="item" data-tab="archetype">{{localize "WT.Tab.Archetype"}}</a>
    <a class="item" data-tab="powers">{{localize "WT.Tab.Powers"}}</a>
    <a class="item" data-tab="silhouette">{{localize "WT.Tab.Silhouette"}}</a>
    <a class="item" data-tab="notes_">{{localize "WT.Tab.Notes"}}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab general" data-group="primary" data-tab="general">
      <h2>{{localize "WT.Label.General"}}</h2>
      <div class="hbox vgap8">
        <label class="nowrap grow">{{localize "WT.Label.PointTotal"}}: </label>
        <input class="grow" type="number" name="system.pointTotal" value="{{system.pointTotal}}" />
        <label class="nowrap grow"> {{localize "WT.Label.XP"}}: </label>
        <input class="grow" type="number" name="system.xp" value="{{system.xp}}" />
      </div>
      <div class="hbox vgap8">
        <label class="nowrap grow">{{localize "WT.Label.Willpower"}}: </label>
        <input class="grow" type="number" name="system.willpower" value="{{system.willpower}}" />
        <label class="nowrap grow"> {{localize "WT.Label.BaseWill"}}: </label>
        <input class="grow" type="number" name="system.baseWill" value="{{system.baseWill}}" />
      </div>
      <div>
        <h2 class="hbox">
          <div class="grow">{{localize "WT.Label.Convictions"}}</div>
          <button class="add-conviction nogrow">+</button>
        </h2>
        <ul>
          {{#each system.convictions as |conviction i|}}
          <li class="hbox vgap8">
            <input class="grow"
              type="text"
              name="system.convictions.{{i}}.phrase"
              value="{{conviction.phrase}}"
            />
            <div class="nowrap"> (</div>
            <input class="growhalf"
              type="number"
              name="system.convictions.{{i}}.amount"
              value="{{conviction.amount}}"
            />
            <div class="nowrap">)</div>
            <button class="remove-conviction nogrow" index="{{i}}">-</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div>
        <h2>{{localize "WT.Label.Stats"}}</h2>
        {{#each STATS as |stat i|}}
          <div class="hbox vgap8">
            <label class="grow">{{localize stat.name}}</label>
            <input class="grow2x"
              type="text"
              name="system.stats.{{stat.field}}"
              value="{{lookup @root.system.stats stat.field}}"
            />
          </div>
        {{/each}}
      </div>
      <div>
        <h2 class="hbox">
          <div class="grow">{{localize "WT.Label.Skills"}}</div>
          <button class="add-skill nogrow">+</button>
        </h2>
        <ul>
          {{#each system.skills as |skill i|}}
          <li class="hbox vgap8">
            <div class="grow2x skillslot hbox" skillindex="{{i}}">
              <input class="dummy" type="text" name="system.skills.{{i}}.id" value="{{skill.id}}">
              {{#with (lookup @root.skilldocs skill.id) as |item|}}
                <img class="nogrow" src="{{item.img}}" width="24" height="24">
                <div class="grow">{{item.name}}</div>
              {{else}}
                <img class="nogrow" width="24" height="24">
                <div class="grow placeholder">{{localize "WT.Dialog.EmptySkillSlot"}}</div>
              {{/with}}
            </div>
            <div class="nowrap">: </div>
            <input class="grow"
              type="text"
              name="system.skills.{{i}}.dice"
              value="{{skill.dice}}"
            />
            <div class="nowrap"> (</div>
            <input class="grow"
              type="text"
              name="system.skills.{{i}}.specialty"
              value="{{skill.specialty}}"
              placeholder="{{localize "WT.Dialog.EmptySkillSpecialty"}}"
            />
            <div class="nowrap">)</div>
            <button class="remove-skill nogrow" index="{{i}}">-</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="tab archetype" data-group="primary" data-tab="archetype">
      <h2>{{localize "WT.Label.Archetypes"}}</h2>
      <h2>{{localize "WT.Label.Sources"}}</h2>
      <h2>{{localize "WT.Label.Permissions"}}</h2>
      <h2>{{localize "WT.Label.Intrinsics"}}</h2>
    </div>
    <div class="tab powers" data-group="primary" data-tab="powers">
      <h2>{{localize "WT.Label.Hyperstats"}}</h2>
      <h2>{{localize "WT.Label.Hyperskills"}}</h2>
      <h2>{{localize "WT.Label.Miracles"}}</h2>
    </div>
    <div class="tab silhouette" data-group="primary" data-tab="silhouette">
      <div>
        <h2 class="hbox">
          <div class="grow">{{localize "WT.Label.Silhouette"}}</div>
          <button class="add-body-part nogrow">+</button>
        </h2>
        <ul>
          {{#each system.silhouette as |bodyPart i|}}
          <li class="hbox">
            <div class="vbox vgap16">
              <div class="hbox vgap4">
                <div class="nowrap">(</div>
                <input class="growhalf"
                  type="text"
                  name="system.silhouette.{{i}}.hitLocations"
                  value="{{bodyPart.hitLocations}}"
                />
                <div class="nowrap">) </div>
                <input class="grow"
                  type="text"
                  name="system.silhouette.{{i}}.name"
                  value="{{bodyPart.name}}"
                />
                <div class="nowrap">: </div>
                <input class="growhalf"
                  type="number"
                  name="system.silhouette.{{i}}.boxes"
                  value="{{bodyPart.boxes}}"
                />
                <div class="nowrap"> {{localize "WT.Dialog.BodyPartBoxes"}} (</div>
                <input class="growhalf"
                  type="number"
                  name="system.silhouette.{{i}}.brainBoxes"
                  value="{{bodyPart.brainBoxes}}"
                />
                <div class="nowrap"> {{localize "WT.Dialog.BodyPartIsBrain"}}; {{localize "WT.Dialog.BodyPartImportant"}}</div>
                <input type="checkbox"
                  name="system.silhouette.{{i}}.important"
                  {{#if bodyPart.important}}checked{{/if}}
                />
                <div class="nowrap">)</div>
              </div>
              <div class="hbox vgap4">
                <div class="nowrap">{{localize "WT.Label.ShockDamage"}}: </div>
                <input class="grow"
                  type="number"
                  name="system.silhouette.{{i}}.shockDamage"
                  value="{{bodyPart.shockDamage}}"
                />
                <div class="nowrap"> {{localize "WT.Label.KillingDamage"}}: </div>
                <input class="grow"
                  type="number"
                  name="system.silhouette.{{i}}.killingDamage"
                  value="{{bodyPart.killingDamage}}"
                />
              </div>
            </div>
            <button class="remove-body-part nogrow" index="{{i}}">-</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="tab notes_" data-group="primary" data-tab="notes_">
      <h2>{{localize "WT.Label.PublicNotes"}}</h2>
      {{editor (enrich system.appearence) target="system.appearence" button=true owner=owner editable=editable}}
      <h2>{{localize "WT.Label.PrivateNotes"}}</h2>
      {{editor (enrich system.notes) target="system.notes" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
