<form class="{{cssClass}}" autocomplete="off">
  <header>
    <h1 class="hbox">
      <img class="nogrow profile-img vgap8" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50"/>
      <input class="grow hgap16 vgap8" type="text" name="name" value="{{data.name}}" placeholder="{{localize "WT.Label.Name"}}" />
    </h1>
  </header>
  
  <div class="hbox">
    <button class="nogrow roll-general" index="{{i}}"  draggable="true"><i class="fa-solid fa-dice"></i></button>
    <div class="nowrap grow">{{localize "WT.Label.GroupSize"}}: </div>
    <input class="grow2x" type="number" name="system.groupSize" value="{{system.groupSize}}">
  </div>

  <div class="hbox">
    <button class="nogrow hide"><i class="fa-solid fa-dice"></i></button>
    <div class="nowrap grow">{{localize "WT.Label.MinionRating"}}: </div>
    <select class="grow2x" name="system.minionRating">
      {{#select system.minionRating}}
        {{#each MINION_RATINGS as |mr i|}}
          <option value="{{i}}" {{#if (eq system.minionRating i)}}selected{{/if}}>{{localize mr.name}}</option>
        {{/each}}
      {{/select}}
    </select>
  </div>

  {{#with (lookup MINION_RATINGS system.minionRating) as |mr|}}
  <div class="hbox">
    <button class="nogrow roll-command" index="{{i}}"  draggable="true"><i class="fa-solid fa-dice"></i></button>
    <div class="nowrap grow">{{localize "WT.Label.CommandDifficulty"}}: </div>
    <input class="grow2x" type="number" name="system.command" value="{{@root.system.command}}" placeholder="{{mr.command}}">
  </div>
  <div class="hbox">
    <button class="nogrow roll-skill" index="{{i}}"  draggable="true"><i class="fa-solid fa-dice"></i></button>
    <div class="nowrap grow">{{localize "WT.Label.SkillDifficulty"}}: </div>
    <input class="grow2x" type="number" name="system.skill" value="{{@root.system.skill}}" placeholder="{{mr.skill}}">
  </div>
  <div class="hbox">
    <button class="nogrow roll-demoralization" index="{{i}}"  draggable="true"><i class="fa-solid fa-dice"></i></button>
    <div class="nowrap grow">{{localize "WT.Label.DemoralizationDifficulty"}}: </div>
    <input class="grow2x" type="number" name="system.demoralization" value="{{@root.system.demoralization}}" placeholder="{{mr.demoralization}}">
  </div>
  {{/with}}

  <div class="hbox">
    <button class="nogrow hide"><i class="fa-solid fa-dice"></i></button>
    <div class="nowrap grow">{{localize "WT.Label.DamageType"}}: </div>
    <select class="grow2x" name="system.damageType">
      {{#select system.damageType}}
        {{#each DAMAGE_TYPES as |dt i|}}
          <option value="{{i}}" {{#if (eq system.damageType i)}}selected{{/if}}>{{localize dt.name}}</option>
        {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="hbox">
    <button class="nogrow hide"><i class="fa-solid fa-dice"></i></button>
    <div class="nowrap">{{localize "WT.Label.LAR"}}: </div>
    <input class="grow" type="number" name="system.lar" value="{{system.lar}}">
    <div class="nowrap">{{localize "WT.Label.HAR"}}: </div>
    <input class="grow" type="number" name="system.har" value="{{system.har}}">
  </div>

  <h2 class="hbox">
    <div class="nowrap grow">{{localize "WT.Label.Masteries"}}</div>
    <button class="nogrow add-mastery">+</button>
  </h2>
  <ul>
    {{#each system.masteries as |mastery i|}}
      <li class="hbox vgap8">
        <button class="nogrow roll-mastery" index="{{i}}"  draggable="true"><i class="fa-solid fa-dice"></i></button>
        <div class="grow2x slot masteryslot hbox" index="{{i}}">
          <input class="dummy" type="text" name="system.masteries.{{i}}.id" value="{{mastery.id}}">
          {{#with (lookup @root.documents mastery.id) as |item|}}
            <img class="nogrow" src="{{item.img}}" width="24" height="24">
            <div class="grow">{{item.name}}</div>
          {{else}}
            <img class="nogrow" width="24" height="24">
            <div class="grow placeholder">{{localize "WT.Dialog.EmptySkillSlot"}}</div>
          {{/with}}
        </div>
        <div class="nowrap"> (</div>
        <input class="grow"
          type="text"
          name="system.masteries.{{i}}.specialty"
          value="{{mastery.specialty}}"
          placeholder="{{localize "WT.Dialog.EmptySkillSpecialty"}}"
        />
        <div class="nowrap">)</div>
        <button class="remove-mastery nogrow" index="{{i}}">-</button>
      </li>
    {{/each}}
  </ul>

  <h2>{{localize "WT.Label.PublicNotes"}}</h2>
  {{editor (enrich system.appearence) target="system.appearence" button=true owner=owner editable=editable}}
  <h2>{{localize "WT.Label.PrivateNotes"}}</h2>
  {{editor (enrich system.notes) target="system.notes" button=true owner=owner editable=editable}}
</form>
