<form class="{{cssClass}}" autocomplete="off">
  <header>
    <h1 class="hbox">
      <img
        class="nogrow profile-img vgap8"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
        height="50"
        width="50"
      />
      <input
        class="grow hgap16 vgap8"
        type="text"
        name="name"
        value="{{data.name}}"
        placeholder="{{localize 'WT.Label.Name'}}"
      />
    </h1>
  </header>

  <div class="hbox vgap16">
    <div class="nowrap">{{localize "WT.Label.PointsPerDie"}}: </div>
    <input class="grow" type="number" value="{{item.system.pointsPerDie}}" disabled>
  </div>

  <div class="hbox vgap8">
    <label class="grow">{{localize "WT.Label.PowerType"}}: </label>
    <select class="grow2x" name="system.powerType">
      {{selectOptions @root.POWERTYPES_SELECT_OPTIONS selected=system.powerType localize=true}}
    </select>
  </div>

  {{#if (eq system.powerType 0)}}
    <div class="hbox vgap8">
      <label class="grow">{{localize "WT.Label.Stat"}}: </label>
      <select class="grow2x" name="system.stat">
        {{selectOptions @root.STATS_SELECT_OPTIONS selected=system.stat localize=true}}
      </select>
    </div>
  {{else}}
    <input class="dummy" type="number" name="system.stat" value="{{system.stat}}">
  {{/if}}

  {{#if (eq system.powerType 1)}}
    <div class="hbox vgap8">
      <label class="grow">{{localize "WT.Label.Skill"}}: </label>
      <div class="grow2x hbox">
        <div class="grow2x slot skillslot hbox">
          <input class="dummy" type="text" name="system.skill.id" value="{{system.skill.id}}">
          {{#with (lookup @root.documents system.skill.id) as |item|}}
            <img class="nogrow" src="{{item.img}}" width="24" height="24">
            <div class="grow">{{item.name}} ({{localizeUnit "PtsPerDie" item.system.pointsPerDie}})</div>
          {{else}}
            <img class="nogrow" width="24" height="24">
            <div class="grow placeholder">{{localize "WT.Dialog.EmptySkillSlot"}}</div>
          {{/with}}
        </div>
        <div class="nowrap"> (</div>
        <input class="grow"
          type="text"
          name="system.skill.specialty"
          value="{{system.skill.specialty}}"
          placeholder="{{localize "WT.Dialog.EmptySkillSpecialty"}}"
        />
        <div class="nowrap">)</div>
      </div>
    </div>
  {{else}}
    <input class="dummy" type="text" name="system.skill.id" value="{{system.skill.id}}">
    <input class="dummy" type="text" name="system.skill.specialty" value="{{system.skill.specialty}}">
  {{/if}}

  <h2 class="hbox">
    <div class="grow">{{localize "WT.Label.Qualities"}}</div>
    <button class="add-quality nogrow">+</button>
  </h2>
  <ul>
    {{#each system.qualities as |quality i|}}
      <li class="hboxstretch vgap16 quality" index="{{i}}">
        <div class="vboxstretch grow">
          <div class="hbox vgap4">
            <input class="grow2x" type="text" name="system.qualities.{{i}}.name" value="{{quality.name}}" placeholder="{{localize "WT.Label.Name"}}">
            <div class="nowrap">: </div>
            <select class="grow" name="system.qualities.{{i}}.qualityType">
              {{selectOptions @root.QTYTYPES_SELECT_OPTIONS selected=quality.qualityType localize=true}}
            </select>
            <div class="nowrap">+</div>
            <input class="grow" type="number" name="system.qualities.{{i}}.level" value="{{quality.level}}">
          </div>
          <div class="hbox vgap4">
            <div class="nowrap">{{localize "WT.Label.Capacities"}}: </div>
            {{#each @root.CAPACITY_TYPES as |ct j|}}
              <div class="grow hbox">
                <div class="nowrap">{{localize (lookup ct "name")}}</div>
                <input class="nogrow" type="checkbox" name="system.qualities.{{i}}.capacities.{{lookup ct "field"}}"
                  {{#if (lookup quality.capacities (lookup ct "field"))}}checked{{/if}}
                />
              </div>
            {{/each}}
          </div>
          <div class="hboxstart vgap4">
            <div class="nowrap">{{localize "WT.Label.Extras"}}: </div>
            <div class="grow vboxstretch hgap16">
              {{#each quality.extras as |extra j|}}
                <div class="grow hbox vgap4">
                  <div class="growhalf hbox">
                    {{#with (lookup @root.documents extra.id) as |item|}}
                      {{#if item.system.multibuy}}
                        <input class="grow" type="number" name="system.qualities.{{i}}.extras.{{j}}.multibuyAmount" value="{{extra.multibuyAmount}}">
                        <div class="nowrap">x </div>
                      {{else}}
                        <input class="dummy" type="number" name="system.qualities.{{i}}.extras.{{j}}.multibuyAmount" value="{{extra.multibuyAmount}}">
                      {{/if}}
                    {{else}}
                      <input class="dummy" type="number" name="system.qualities.{{i}}.extras.{{j}}.multibuyAmount" value="{{extra.multibuyAmount}}">
                    {{/with}}
                  </div>
                  <div class="grow hbox slot extraslot" index1="{{i}}" index2="{{j}}">
                    <input class="dummy" type="text" name="system.qualities.{{i}}.extras.{{j}}.id" value="{{extra.id}}">
                    {{#with (lookup @root.documents extra.id) as |item|}}
                      <img class="nogrow" src="{{item.img}}" width="24" height="24">
                      <div class="grow">{{item.name}} ({{localizeUnit "Pts" (extraPtsPerDie extra)}})</div>
                    {{else}}
                      <img class="nogrow" width="24" height="24">
                      <div class="grow placeholder">{{localize "WT.Dialog.EmptyExtraSlot"}}</div>
                    {{/with}}
                  </div>
                  <div class="grow hbox">
                    {{#with (lookup @root.documents extra.id) as |item|}}
                      {{#if item.system.requiresCondition}}
                        <div class="nowrap"> (</div>
                        <input class="grow" type="text" name="system.qualities.{{i}}.extras.{{j}}.condition" value="{{extra.condition}}">
                        <div class="nowrap">) </div>
                      {{else}}
                        <input class="dummy" type="text" name="system.qualities.{{i}}.extras.{{j}}.condition" value="{{extra.condition}}">
                      {{/if}}
                      {{#if item.system.requiresCapacity}}
                        <div class="nowrap"> (</div>
                        <select class="grow2x" name="system.qualities.{{i}}.extras.{{j}}.capacity">
                          {{selectOptions @root.CAPACITY_TYPES_SELECT_OPTIONS selected=extra.capacity localize=true}}
                        </select>
                        <div class="nowrap">) </div>
                      {{else}}
                        <input class="dummy" type="number" name="system.qualities.{{i}}.extras.{{j}}.capacity" value="{{extra.capacity}}">
                      {{/if}}
                    {{else}}
                      <input class="dummy" type="text" name="system.qualities.{{i}}.extras.{{j}}.condition" value="{{extra.condition}}">
                      <input class="dummy" type="number" name="system.qualities.{{i}}.extras.{{j}}.capacity" value="{{extra.capacity}}">
                    {{/with}}
                  </div>
                  <button class="remove-extra nogrow" index1="{{i}}" index2="{{j}}">-</button>
                </div>
              {{/each}}
            </div>
            <button class="add-extra nogrow" index="{{i}}">+</button>
          </div>
          <div class="hbox vgap4">
            <input class="grow" type="text" name="system.qualities.{{i}}.notes" value="{{quality.notes}}" placeholder="{{localize "WT.Label.Notes"}}">
          </div>
          <div class="hbox vgap4">
            <div class="nowrap">{{localize "WT.Label.PointsPerDie"}}: </div>
            <input class="grow" type="number" value="{{qualityPtsPerDie quality}}" disabled>
          </div>
        </div>
        <button class="remove-quality nogrow" index="{{i}}">-</button>
      </div>
    {{/each}}
  </ul>

  <h2>{{localize "WT.Label.Notes"}}</h2>
  {{editor @root.notesEnriched target="system.notes" button=true owner=owner editable=editable}}
</form>
