<form class="{{cssClass}}" autocomplete="off">
  <header>
    <h1 class="hbox">
      <img class="nogrow profile-img vgap8" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50"/>
      <input class="grow hgap16 vgap8" type="text" name="name" value="{{data.name}}" placeholder="{{localize "WT.Label.Name"}}" />
    </h1>
  </header>
  
  <div class="hbox vgap8">
    <label class="grow">{{localize "WT.Label.PrimaryStat"}}: </label>
    <select class="grow2x" name="system.primaryStat">
      {{selectOptions @root.STATS_SELECT_OPTIONS selected=system.primaryStat localize=true}}
    </select>
  </div>
  <div class="hbox vgap8">
    <label class="grow">{{localize "WT.Label.PointsPerDie"}}: </label>
    <input class="grow2x" type="number" name="system.pointsPerDie" value="{{system.pointsPerDie}}">
  </div>
  <h2>{{localize "WT.Label.Notes"}}</h2>
  {{editor @root.notesEnriched target="system.notes" button=true owner=owner editable=editable}}
</form>
