<div class="die {{#if loose}}loose{{else}}in-set{{/if}} face-{{die.face}}" loose="{{loose}}" index1="{{index1}}" index2="{{index2}}">
    <div class="die-bg"><div class="die-mask"></div></div>
    <div class="die-face">{{die.face}}</div>
    <div class="die-type">{{dieTypeLetter die.type}}</div>
</div>
