<div class="die {{#if loose}}loose{{else}}in-set{{/if}} {{#if (dieIsGobbled roll die)}}gobbled{{/if}} face-{{die.face}}">
    <div class="dummy die-data-is-loose">{{loose}}</div>
    <div class="dummy die-data-index1">{{index1}}</div>
    <div class="dummy die-data-index2">{{index2}}</div>
    <div class="die-bg"><div class="die-mask"></div></div>
    <div class="die-face">{{die.face}}</div>
    <div class="die-type">{{dieTypeLetter die.type}}</div>
</div>
