<ul>
  {{#each system.silhouette as |bodyPart i|}}
  <li class="hboxstretch vgap16">
    <div class="vboxstretch">
      <div class="hbox vgap4">
        <div class="nowrap">(</div>
        <input class="growhalf"
          type="text"
          name="system.silhouette.{{i}}.hitLocations"
          value="{{bodyPart.hitLocations}}"
        />
        <div class="nowrap">) </div>
        <input class="grow"
          type="text"
          name="system.silhouette.{{i}}.name"
          value="{{bodyPart.name}}"
        />
        <div class="nowrap">: </div>
        <input class="growhalf"
          type="number"
          name="system.silhouette.{{i}}.boxes"
          value="{{bodyPart.boxes}}"
        />
        <div class="nowrap"> {{localize "WT.Dialog.BodyPartBoxes"}} (</div>
        <input class="growhalf"
          type="number"
          name="system.silhouette.{{i}}.brainBoxes"
          value="{{bodyPart.brainBoxes}}"
        />
        <div class="nowrap"> {{localize "WT.Dialog.BodyPartIsBrain"}}; {{localize "WT.Dialog.BodyPartImportant"}}</div>
        <input type="checkbox"
          name="system.silhouette.{{i}}.important"
          {{#if bodyPart.important}}checked{{/if}}
        />
        <div class="nowrap">)</div>
      </div>
    </div>
    {{#if bodyPart.shockDamage includeZero=true}}
    <input class="dummy"
      type="number"
      name="system.silhouette.{{i}}.shockDamage"
      value="{{bodyPart.shockDamage}}"
    />
    {{/if}}
    {{#if bodyPart.killingDamage includeZero=true}}
    <input class="dummy"
      type="number"
      name="system.silhouette.{{i}}.killingDamage"
      value="{{bodyPart.killingDamage}}"
    />
    {{/if}}
    <button class="remove-body-part nogrow" index="{{i}}">-</button>
  </li>
  {{/each}}
</ul>